<div class="mt32" style="max-width: 1024px; margin: 0 auto;">
    <section class="container bg-gray-lighter oe_screenshot">
        <div class="row oe_spaced">
            <div class="col-md-12">
                <!-- The module's display name can differ from its technical name -->
                <h2 class="oe_slogan" style="color: #FF7E00;">Set bank on customer invoices</h2>
                <h3 class="oe_slogan">Set bank of payment mode or default bank</h3>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row oe_spaced">
            <h2 class="oe_slogan col-12" style="color: #FF7E00;">Quick Start</h2>
            <div class="col-4">
                <h3 class='oe_slogan'>Installation</h3>
                <div>
                    <p class="oe_mt32">
                        There are no dependencies so you can simply install the module.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <h3 class='oe_slogan'>Configuration</h3>
                <div>
                    <p class="oe_mt32">
                        Nothing to configure. Just use it...
                    </p>
                </div>
            </div>
            <div class="col-4">
                <h3 class='oe_slogan'>Usage</h3>
                <div>
                    <p class="oe_mt32">
                        Create a customer invoice, select partner and the bank will be set automatically.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="oe_container">
        <div class="oe_mt16 oe_mb16">
            <h2 class="oe_slogan col-12" style="color: #ff7e00;">Need more?</h2>
            <h3 class="oe_slogan col-12">Other available modules</h3>
        </div>
        <div class="row oe_spaced">
            <div class="col-4">
                <h4>Module 1</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-4 oe_screenshot">
                <h4>Module 2</h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-4">
                <h4>Module 3</h4>
                <p class="text-justify">Some words about the module</p>
            </div>
        </div>
        <div class="clearfix mt16"/>
        <div class="oe_mt16 oe_mb16">
            <h3 class="oe_slogan">Get in Touch!</h3>
        </div>
        <div class="oe_slogan">
            <a href="mailto:support@jamotion.ch"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;">
                <i class="fa fa-envelope"></i> Email
            </a>
            <a href="https://www.jamotion.ch/contact-ext?name=sale_timesheet_period"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;"
               target="_blank">
                <i class="fa fa-phone"></i> Contact Us
            </a>
            <a href="https://www.jamotion.ch/request-customization?name=sale_timesheet_period"
               class="btn btn-primary btn-lg mt8"
               style="color: #FFFFFF !important;"
               target="_blank">
                <i class="fa fa-check-square"></i> Request Customization
            </a>
        </div>
    </section>
</div>